# DOCKER-COMPOSE VARIABLES (POSTGRES)

POSTGRES_PORT=5432
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=postgres

# DOCKER-COMPOSE VARIABLES (BACKEND)

BACKEND_PORT=8080

# POSTGRES DOCKER DSN

POSTGRES_DSN=postgres://postgres:postgres@postgres:5432/postgres

# POSTGRES LOCAL DSN

#POSTGRES_DSN=postgres://postgres:postgres@localhost:5432/postgres